<div>
    <h2>Character Name here</h2>
    <p>race/class</p>
</div>

<div>
    <h2>Background</h2>
    <p>Background here</p>
</div>
<div>
    <h2>Stats</h2>
    <p>Str</p>
    <p>Dex</p>
    <p>Chr</p>
    <p>Const</p>
    <p>Int</p>
    <p>Wis</p>
</div>
<div>
    <p>created by</p>
</div>