<h2>Create Character</h2>

<form class='create-character'>
        <div class="form-group">
            <label for="character_name">Character Name:</label>
            <input class="form-input" type="text" id="character_name" />
        </div>
        <div class="form-group">
            <label for="character_background">Character Background:</label>
            <input class="form-input" type="text" id="character_background" />
        </div>
        <div class="form-group">
            <label for="character_race">Race</label>
            <select name="character_race" id="character_race">
            </select>
        </div>
        <div class="form-group">
            <label for="character_class">class</label>
            <select name="character_class" id="character_class">
            </select>
        </div>
        <div class="form-group">
            <label for="character_Alignment">Alignment</label>
            <select name="character_Alignment" id="character_alignment">
            </select>
        </div>
         <div class="form-group">
            <label for="str">Str:</label>
            <input class="form-input" type="text" id="str" />
        </div>
         <div class="form-group">
            <label for="dex">Dex:</label>
            <input class="form-input" type="text" id="dex" />
        </div>
         <div class="form-group">
            <label for="chr">Chr:</label>
            <input class="form-input" type="text" id="chr" />
        </div>
         <div class="form-group">
            <label for="const">Const:</label>
            <input class="form-input" type="text" id="const" />
        </div>
         <div class="form-group">
            <label for="int">Int:</label>
            <input class="form-input" type="text" id="int" />
        </div>
         <div class="form-group">
            <label for="wis">Wis:</label>
            <input class="form-input" type="text" id="wis" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">submit</button>
      </div>
</form>
<script src="js/api.js"></script>
<script src="js/create.js"></script>