#charactercardz {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.indivcard {
    margin-right: 1vh;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start
}

#homelink {
    font-size: 4em;
}

.navlinx {
    font-size: 1.5em;
}