#createcharactertitle {
    font-family: 'MedievalSharp', cursive;
    font-size: 7vh;
    color: black;
}

.form-group {
    display: block;
    width: 130px;
    margin-top: 1vh;
    color: black;
}

.create-character {
    display: flex;
    flex-direction: row;
}

#createformlabel {
    width: 1000px;
}

#columncontainercreate1 {
    margin-right: 10vh;
}

.form-group {
    margin-bottom: 2vh;
}

.form-input {
    margin-top: 1vh;
}

#submitnewcharacter {
    height: 5vh;
    width: 10vw;
}

#throwdice {
    margin-top: -8vh;
}