#createcharactertitle {
    font-family: 'MedievalSharp', cursive;
<<<<<<< HEAD
    font-size: 5vh;
=======
    font-size: 7vh;
>>>>>>> main
    color: black;
}

.form-group {
    display: block;
    width: 130px;
    margin-top: 1vh;
    color: black;
}

.create-character {
    display: flex;
    flex-direction: column;
}