#logingrouplabel {
    font-family: 'MedievalSharp', cursive;
    font-size: 5vh;
    color: black;
}

#signupgrouplabel {
    font-family: 'MedievalSharp', cursive;
    font-size: 5vh;
    color: black;
}