createbutton {
    
}

#closecharbutton {
    width: 100px;
}

#currcharlist {
    font-family: 'MedievalSharp', cursive;
<<<<<<< HEAD
    font-size: 5vh;
=======
    font-size: 8vh;
>>>>>>> main
    color: black;
}

#userName {
    color: black;
}