createbutton {
    
}

#closecharbutton {
    width: 100px;
}

#currcharlist {
    font-family: 'MedievalSharp', cursive;
    font-size: 5vh;
    font-size: 8vh;
    font-size: 8vh;
    color: black;
}

#userName {
    color: black;
}