#monstertitleuser {
    margin-top: 2vh;
}

#columntopleft {

}

#columntopmiddle {

}

#topcolumnright {

}

#searchmonstersbtn {
    margin-top: 2vh;
}

#searchgroup{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}

#monster {
    width: 750px;
    margin-right: 2vh;
}

#searchmonstersbtn {
    position: relative;
    width: 100px;
}

#type {
    font-size: 3em;
}