*{
    color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-image: url(../imgs/Dragon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    font-family: 'MedievalSharp', cursive;
    color: black;
}

#topcolumncontainer {
    display: inline-flex;
}

#ms li {
    font-size: x-large
}

#searchresultname {
    font-family: 'MedievalSharp', cursive;
    color: black;
    font-size: 5em;
}

.inputlabels {
    font-size: xx-large;
    padding-bottom: 1vh;
}

#homepagecards {
    font-family: 'MedievalSharp', cursive;
    color: rgba(153, 22, 22, 0.856);
    font-size: 2em;
}

#bannertext {

}

.createformlabel {
    font-size: xx-large;
}