*{
    color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-image: url(../imgs/Dragon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    font-family: 'MedievalSharp', cursive;
    color: black;
}

#topcolumncontainer {
    display: inline-flex;
}